body {
    background-color:greenyellow;
}



h1 {
    color: darkred;
    font-family: fantasy;
    border: 1px solid;
    padding: 0,5em 2em 0,5em 2em;
    margin-bottom: 3em;

}

H2 {
    color: darkred;
}

p {
    color: darkred;
}

a {
    color: darkred;
    font-family: fantasy;
    border: 1px solid;
    padding: 0,5em 2em 0,5em 2em;
}